.select{
    border: solid 1px #d4d4d4;
    min-width: 350px;
    padding: 10px;
    cursor: pointer;
    position: relative;
}


@media (max-width: 900px) {
    .select{
        min-width: 0;
        max-width: 100%;
        width: 100%;
        position: static;
    }
}