.InputFormContainer{
    display: flex;
    align-items: center;
    gap: 20px;
}

.Icon{
    min-width: 40px;
    max-width: 40px;
}

.label{
    width: 120px;
}

@media (max-width: 900px) {
    .InputFormContainer{
        gap: 5px;
    }
}