.header {
    width: 100%;
    margin-top: 3px;
    padding: 10px 40px;
    border: black;
    border-bottom: groove;
    border-top-style: groove;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавлена тень снизу */
}

.header * {
    color: white;
}

.container {
    display: flex;
    height: 100px;
    align-items: stretch;
    justify-content: space-around;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.button {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1)); /* Радиальный градиент */
    border-radius: 5px;
    padding: 15px 20px; /* Увеличены отступы для кнопок */
    color: #2e2e30;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 18px; /* Увеличен размер шрифта */
}

.button:hover {
    color: #f2640e; /* Цвет текста при наведении */
    text-shadow: 0 0 5px rgb(6, 26, 244);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2)); /* Изменение градиента при наведении */
}

.logoContainer {
    position: relative; /* Устанавливаем позицию для псевдоэлемента */
    display: inline-flex; /* Позволяет изображению и подложке быть в одной линии */
    height: 100%;
    justify-content: center;
}

.triangle {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-left: 45px solid transparent; /* Левый край треугольника */
    border-right: 45px solid transparent; /* Правый край треугольника */
    border-top: 90px solid rgb(255, 255, 255); /* Верхний край треугольника (цвет подложки) */
    height: 90px;
    width: 90px;
}

.logoContainer img {
    position: relative;
    z-index: 9999;
    border-radius: 5px; /* Закругленные углы для изображения */
    height: 80px;
}

.brandName {
    color: #FF6501; 
    margin-left: 10px; 
    white-space: nowrap;
}

@media (max-width: 900px) {
    .header {
        padding: 10px;
    }
    .brandName {
        display: none;
    }

    .logoContainer {
        min-width: 90px;
    }

    .container {
        padding: 0;
    }

    .nav {
        gap: 20px;
    }

    .button {
        padding: 10px; /* Уменьшены отступы для мобильных устройств */
        font-size: 16px; /* Уменьшен размер шрифта для мобильных устройств */
    }
}
