.calc{
    margin-bottom: 20px;
    margin-top: 20px;
}

.nav{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav__btn{
    color: #777777;
    background-color: #F8F9FB;
    padding: 20px 25px;
    border: 1px solid #d4d4d4;
    border-radius: 5px 5px 0px 0px !important;
}

.active{
    color: white;
    background-color: #12427C;
}

@media (max-width: 900px) {
    .nav{
        display: flex;
        gap: 10px;
    }
    .nav__btn {
        padding: 10px;
        border-radius: 5px !important;
    }
}