.calc{
    margin-bottom: 20px;
    margin-top: 20px;
}

.nav{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav__btn{
    color: #777777;
    background-color: #F8F9FB;
    padding: 20px 25px;
    border: 1px solid #d4d4d4;
    border-radius: 5px 5px 0px 0px !important;
}

.active{
    color: white;
    background-color: #12427C;
}

@media (max-width: 900px) {
    .nav{
        display: flex;
        gap: 10px;
    }
    .nav__btn {
        padding: 10px;
        border-radius: 5px !important;
    }

@media (max-width: 500px) {
        .nav {
            display: flex;
            flex-direction: column; /* Оставьте столбец для меньших экранов */
            gap: 5px; /* Уменьшите отступ между кнопками */
        }
        .nav__btn {
            padding: 8px; /* Уменьшите отступ для меньших экранов */
            border-radius: 5px !important;
            width: 100%; /* Ширина 100% для кнопок */
            text-align: center; /* Центрируйте текст */
        }
    }
}