@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

button{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.content{
  max-width: 1268px;
  margin: auto;
  padding: 0 20px;
  position: relative;
}

/* Для Chrome, Safari и Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Для Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

[data-slot="indicator"] {
    /* Ваши стили здесь */
    display: none !important;
    background-color: yellow; /* Пример стиля */
}

@media (max-width: 500px) {
    *{
      font-size: 0.9rem !important;
    }
}