@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'CD Masvol Thin'; /* Имя шрифта, которое вы будете использовать в CSS */
    src: url('./Assets/fonts/PeridotDemoPE-Light\ —\ копия.otf') format('opentype'); /* Путь к файлу шрифта */
    font-weight: normal; /* Укажите вес шрифта, если необходимо */
    font-style: normal; /* Укажите стиль шрифта, если необходимо */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'CD Masvol Thin', 'Poppins', sans-serif; /* Используйте ваш шрифт */
  text-decoration: none;
}

button{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.content{
  max-width: 1268px;
  margin: auto;
  padding: 20px 20px;
  position: relative;
}

/* Для Chrome, Safari и Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Для Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

[data-slot="indicator"] {
    /* Ваши стили здесь */
    display: none !important;
    background-color: yellow; /* Пример стиля */
}

@media (max-width: 500px) {
    *{
      font-size: 0.9rem !important;
    }
}